.scrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: gray;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrollToTop.visible {
  opacity: 1;
  visibility: visible;
}

.scrollToTop svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}

img{
  width: 90%;
}