.admin-dashboard-container {
  padding: 20px;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #0056b3;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

select, button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
}

button:hover {
  background-color: #45a049;
}

#recognizedText {
  margin-top: 20px;
  font-size: 18px;
}

#confirmation {
  margin-top: 10px;
  font-size: 18px;
}

#feedback {
  margin-top: 10px;
  font-size: 18px;
  color: #ffa500;
}

h1 {
  color: #4CAF50;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}
