@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');

.correct {
  color: green;
}

.incorrect {
  color: red;
}

.admin-dashboard-container {
  padding: 20px;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #0056b3;
}

body {
  font-family: "Jersey 10", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  color: #333;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
}

select, button {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
  border: none;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
}

/* button:hover {
  background-color: #45a049;
} */

#recognizedText {
  margin-top: 20px;
  font-size: 18px;
}

#confirmation {
  margin-top: 10px;
  font-size: 18px;
}

#feedback {
  margin-top: 10px;
  font-size: 18px;
  color: #ffa500;
}
#randomWord {
  font-size: clamp(50px, 2vw, 18px);/* This change is kept from the "test-level" branch */
  color: gray;
}

h1 {
  color: #4CAF50;
}

.container {
  max-width: 600px; /* This change is discarded from the "master" branch */
  margin: 0 auto; /* This change is discarded from the "master" branch */
}

h1 {
  font-size: 36px;
  text-align: center;
  margin-top: 50px;
  color: #4CAF50;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.history-item {
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.history-item p:first-child {
  font-weight: bold;
  color: #333;
}
.total-correct-guesses {
  font-size: 24px;
  text-align: center;
  margin-bottom: 30px;
  color: #4CAF50;
}
.colorful-text {
  background: -webkit-linear-gradient(right, #FF416C, #FF4B2B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(to right, #FF416C, #FF4B2B);
  background-clip: text;
}


.breadcrumbs {
  margin-bottom: 20px;
}

.breadcrumbs a {
  color: #007bff; 
  text-decoration: none;
  transition: color 0.3s;
}

.breadcrumbs a:hover {
  color: #0056b3; 
}

.breadcrumb-separator {
  color: #666; 
}


/* test and game btns */

.actionButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.3s ease;
}

.startButton {
  background-color: #4CAF50; 
  color: white;
}

.stopButton {
  background-color: #f44336; 
  color: white;
}

.playButton {
  background-color: #2196F3;
  color: white;
}

.resetButton {
  background-color: #ff9800; 
  color: white;
}

.saveButton {
  background-color: #9c27b0; 
  color: white;
}

.nextButton {
  background-color: #607d8b;
  color: white;
}

.actionButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Game special btn */

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wordButton {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #2196F3; /* Blue */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wordButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #4CAF50;
}
@media (max-width: 768px) {
  .wordButton:hover {
    transform: none;
    box-shadow: none;
    background-color: initial;
  }
}


.toggleButton {
  padding: 8px 15px; 
  margin-bottom: 10px;
  border: 2px solid #2196F3;
  border-radius: 20px; 
  background-color: transparent;
  color: #2196F3; 
  font-size: 14px; 
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggleButton:hover {
  background-color: #4CAF50;
  color: white; 
  border: none;

}

/* test and game btns */

.actionButton {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin: 5px;
  transition: all 0.3s ease;
}

.startButton {
  background-color: #4CAF50; 
  color: white;
}

.stopButton {
  background-color: #f44336; 
  color: white;
}

.playButton {
  background-color: #2196F3;
  color: white;
}

.resetButton {
  background-color: #ff9800; 
  color: white;
}

.saveButton {
  background-color: #9c27b0; 
  color: white;
}

.nextButton {
  background-color: #607d8b;
  color: white;
}

.actionButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


/* Game special btn */

.buttonContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.wordButton {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  background-color: #2196F3; /* Blue */
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.wordButton:hover {
  transform: translateY(-3px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #4CAF50;
}


.toggleButton {
  padding: 8px 15px; 
  margin-bottom: 10px;
  border: 2px solid #2196F3;
  border-radius: 20px; 
  background-color: transparent;
  color: #2196F3; 
  font-size: 14px; 
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggleButton:hover {
  background-color: #4CAF50;
  color: white; 
  border: none;
}
